# Server setup 
PORT=3000

# Database Configuration
# The hostname of the Postgres database (use 'db' if running via docker-compose, or 'localhost' if local)
DB_HOST=db

# Postgres port
DB_PORT=5432

# Postgres database name
DB_NAME=ebot

# Postgres superuser name
DB_USER=jhonatan

# Postgres password
DB_PASSWORD=secret
